{% extends "includes/content_base.html" %}
{% load tracker_tags %}

{% block head_title %}Home{% endblock %}

{% block body_css%}main{% endblock %}

{% block main %}
    <div class="modal main">
        <ul>
            {% current_week_number as current_week_number %}
            <li class="timesheets"><a href="/timesheet/{{current_week_number}}/"><h3>Timesheets</h3></a></li>
            <li class="time-off"><a href="/timeoff/book/"><h3>Time Off</h3></a></li>
            <li class="reports"><a href="#"><h3>Reports</h3></a></li>
            <li class="approve"><a href="/q/"><h3>Approve</h3></a></li>
        </ul>
    </div>
{% endblock %}