{% extends "includes/content_base.html" %}
{% load categories_tags %}

{% block extra_style %}
    <link rel='stylesheet' type='text/css' href='/static/css/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/fullcalendar.print.css' media='print' />
    <link rel="stylesheet" href="/static/css/chosen.css" media="screen" />
    <style type='text/css'>

	    #calendar {
	        width: 650px;
	        height: 650px;
	        margin: 10px;
	        float:left;
	        display:block;	        
	       }
	        
	    #sidebar {
	        float:left;
	        margin: 10px;
	        display:block;
	        width: 200px;
	    }
	    
	    #sidebar select {
            width: 100%;
        }
        	    
	    #sidebar span {
	        clear:both;
	        display:block;
	    }
	    
    </style>
{% endblock %}    
    
{% block script %}
    <script type='text/javascript' src='http://code.jquery.com/jquery-latest.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-custom.min.js'></script>
    <script type='text/javascript' src='/static/js/fullcalendar.js'></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type='text/javascript'>

    $(document).ready(function() {
    
    	/*
    	   TODO: if the booking time period is between working days, 
    	   then exclude weekends in the calculation.
    	   for e.g. if remaining days is 2 days and selection is friday/monday, user should be allowed to select. 
    	   [note we aren't showing weekends, so the selection should appear between friday-to-monday]
    	*/
    	
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month'                
            },
            weekends: false,
            selectable: true,
            selectHelper: true,
            eventSources: [
                {
            	   events: [
                        {% for booking in bookings.INPROC %}
                            {
								title: '{{booking.title}}',
								start: '{{booking.start}}',
								end: '{{booking.end}}',
								allDay: true,
								status: 'INPROC',
								persisted: true,
                            },
						{% endfor %}
                    ],
                    color: '#F5F591',
                    textColor: 'black'
                },
                {
                	events: [
                             {% for booking in bookings.APPRD %}
                                 {
                                     title: '{{booking.title}}',
                                     start: '{{booking.start}}',
                                     end: '{{booking.end}}',
                                     allDay: true,
                                     status: 'APPRD',
                                     persisted: true,
                                 },
                             {% endfor %}
                         ],
                	
                },
                {
                    events: [
                             {% for booking in bookings.REJTD %}
                                 {
                                     title: '{{booking.title}}',
                                     start: '{{booking.start}}',
                                     end: '{{booking.end}}',
                                     allDay: true,
                                     status: 'REJTD',
                                     persisted: true,
                                 },
                             {% endfor %}
                         ],
                    color: '#FF7575',
                    textColor: 'white'
                }
            ],
            viewDisplay: function(view) {
            	//TODO: fetch only if it is less than today's month [i.e. if today is 10/15/2012, pull only if the start is less than 10/01].
            	//      Also events are cached, so maybe its better to purge or not pull if the month-view has some 'pulled' data flag set. 
            	//      The original fetch already pulled all bookings from current date month
            	if(view.ajax) {
            		start = $.fullCalendar.formatDate(view.visStart, 'yyyyMMdd');            		
            		//fetch json for the current month
            		events=[];            		
            		$.getJSON('/timeoff/bookings/' + start + '/', function(data) {
            			  for(var idx=0;idx < data.APPRD.length; idx++) {
            				   event = data.APPRD[idx];
            		           events.push({
            		        	   title: event.title,
                                   start: event.start,
                                   end: event.end,
                                   allDay: true,
                                   status: 'APPRD',
                                   persisted: true            		        	   
            		           });
            			  }            			  
            		});
            	}
            },
            select: function(start, end, allDay) {            	
                var today_date = new Date();
                today_date.setHours(0,0,0,0);
                var start_date_parsed = new Date(start);
                start_date_parsed.setHours(0,0,0,0);
                console.info(start_date_parsed >= today_date);
                if(start_date_parsed >= today_date) {
	            	var timeoff_sel_elem = $('#id_timeoff_type option:selected');
	                var index = parseInt(timeoff_sel_elem.val());
	                var time_remaining = parseInt(timeoff_sel_elem.parent().data('time_remaining'));
	                if (index) {  
	                	var time_at_hand = ((end - start)/86400000) + 1;
	                	time_remaining = time_remaining - time_at_hand;                	
	                	if(time_remaining >= 0) {
		                    calendar.fullCalendar('renderEvent',
		                        {
		                            title: timeoff_sel_elem.text(),
		                            start: start,
		                            end: end,
		                            allDay: allDay
		                        },
		                        true // make the event "stick"
		                    );
		                    fmt_st_dt = $.fullCalendar.formatDate(start, 'MM/dd/yyyy');
		                    fmt_end_dt = $.fullCalendar.formatDate(end, 'MM/dd/yyyy')
		                    $('#id_start_date').val(fmt_st_dt);
		                    $('#id_end_date').val(fmt_end_dt);
		                    $('#id_number_of_days').val(time_at_hand);
		                    $('.start').text(fmt_st_dt);
		                    $('.end').text(fmt_end_dt);
		                    $('.time-remaining').text('total time remaining: ' + time_remaining);
		                    $('#id_timeoff_type').data('time_remaining', time_remaining);  		                    
		                 }
	                }
                }
                calendar.fullCalendar('unselect');                
            },
            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
            	if(event.persisted) {
            		revertFunc();
            		return;
            	}
            	fmt_st_dt = $.fullCalendar.formatDate(event.start, 'MM/dd/yyyy');
            	$('#id_start_date').val(fmt_st_dt);
            	$('.start').text(fmt_st_dt);
            	var end = event.end ? event.end : event.start;
            	fmt_end_dt = $.fullCalendar.formatDate(end, 'MM/dd/yyyy')
            	$('#id_end_date').val(fmt_end_dt);
            	$('.end').text(fmt_end_dt);
            },
            eventResize: function(event, dayDelta, minuteDelta, revertFunc) { 
                if(event.persisted) {
                    revertFunc();
                    return;
                }
            	var end = event.end ? event.end : event.start;
                if(end) {
            		var time_at_hand = Math.floor(((end - event.start)/86400000) + 1);            		
            	} else {
            		//its the same day
                    var time_at_hand = 1;            		
            	}
            	var timeoff_sel_elem = $('#id_timeoff_type');
            	var time_remaining = parseInt(timeoff_sel_elem.data('orig_time_remaining'));
            	time_remaining = time_remaining - time_at_hand;
            	if(time_remaining >= 0) {
            		fmt_st_dt = $.fullCalendar.formatDate(event.start, 'MM/dd/yyyy');
            		$('#id_start_date').val(fmt_st_dt);
            		$('.start').text(fmt_st_dt);
            		fmt_end_dt = $.fullCalendar.formatDate(end, 'MM/dd/yyyy')
                    $('#id_end_date').val(fmt_end_dt);
            		$('.end').text(fmt_end_dt);
            		$('#id_number_of_days').val(time_at_hand);
                    $('.time-remaining').text('total time remaining: ' + time_remaining);
                    $('#id_timeoff_type').data('time_remaining', time_remaining);              		
            	} else {
            		revertFunc();            		
            	}            	
            },
            editable: true,
            events: [
                {}
            ]
        });
        
        $('#id_timeoff_type').change(function() {    
        	 that = this;
        	 var index = parseInt($(this).val());
        	 if(index) {
	             calendar.fullCalendar('removeEvents', function(e, i) {
	                 var persisted= !e.persisted;
	                 return persisted;               
	             });
	        	 $('#id_start_date').val('');
	             $('#id_end_date').val('');
	             $('.start').text('');
	             $('.end').text('');
	             var url = '/u/timeoff/left/' + $(this).val() + '/';
	             //do ajax call to get total remaining hours
	             $.getJSON(url, function(data) {
	            	   var time_remaining = parseInt(data.time_remaining) + parseInt(data.overdraw_limit) - parseInt(data.booked_days);            	   
	            	   $(that).data('time_remaining', time_remaining);  
	            	   $(that).data('orig_time_remaining', time_remaining);
	            	   $('.time-remaining').text('total time remaining: ' + time_remaining);
	             });
        	 }
        });
        
        $('#reset').click(function() {
        	var timeoff_select = $('#id_timeoff_type');
        	var idx = parseInt(timeoff_select.find('option:selected').val());
        	if(idx) {
	        	calendar.fullCalendar('removeEvents', function(e, i) {
	        		var persisted= !e.persisted;
	        		return persisted;        		
	        	});
	        	
	        	timeoff_select.data('time_remaining', timeoff_select.data('orig_time_remaining')); 
	        	$('.time-remaining').text('total time remaining: ' + timeoff_select.data('time_remaining'));        	
	        	$('#id_start_date').val('');
	            $('#id_end_date').val('');
	            $('.start').text('');
	            $('.end').text('');
        	}
        });
        
        $('#id_booktimeoff').click(function() {
        	$('#book_timeoff').submit();
        });        
        
        $("select").chosen();
        
    });
    </script>
{% endblock %}

{% block timeoff_active %}active{% endblock %}

{% block main %}  
<div id='calendar'></div>
<div id='sidebar'>
    <form id='book_timeoff' action="/timeoff/book/" method="post">
        {%csrf_token%}
        <input type="hidden" id="id_user" name="user" value="{{request.user.id}}"/>
        <input type="hidden" id="id_start_date" name="start_date" value=""/>
        <input type="hidden" id="id_end_date" name="end_date" value=""/>
        <input type="hidden" id="id_number_of_days" name="number_of_days" value="0"/>
        
	    <span class="header">Time off Booking</span>
        <select id='id_timeoff_type' name='timeoff_type'>
            {% timeoff_options 'True' %} 
        </select>
	    <span class="time-remaining"></span>	    
	    
	    <span class='prefix'>Start:&nbsp;</span><span class='start'></span>
	    <span class='prefix'>End:&nbsp;</span><span class='end'></span>
	    
	    <a href="#" class="button gray left" id="id_reset">Reset</a>
        <a href="#" class="button default right" id="id_booktimeoff">Book</a>	    
    </form>
</div>
{% endblock %}
