{% load tracker_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Queue History</title>
</head>
<body>
    <p>{{request.user.username}}</p>
    {% for queue_item in queue_items %}            
            <div class="queue-box">                
                <span>{{queue_item.from_user.username}}</span>
                <span>on {{queue_item.created_on}}</span>
                <span>from status {{queue_item.from_status.display}}</span>
                <span>to</span>
                <span>{{queue_item.to_user.username}}</span>
                <span>with status {{queue_item.to_status.display}}</span>
                <span>for week {{queue_item.approver_queue.content_object.start_week}}</span>
                <span>to {{queue_item.approver_queue.content_object.end_week}}</span>       
            </div>
        {% endfor %}
</body>
</html>