{% extends "includes/content_base.html" %}
{% load queue_tags %}
{% block head_title %}Approvals{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="/static/css/queue.css" type="text/css" media="screen">
{% endblock %}

{% block approvals_active %}active{% endblock %}

{% block main %}   
    <div class="row" style="margin: 25px 0 0 5%;">
        {% for queue_item in queue_items %}            
            <div class="queue-box">
                {% content_type_snapshot queue_item %}
	            <a href="/q/+/{{queue_item.id}}" class="blue-button"><span>Approve</span></a>
	            <a href="/q/-/{{queue_item.id}}" class="red-button"><span>Reject</span></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}