[class^="sprite-glyphicons_"],[class*=" sprite-glyphicons_"] {
	display:inline-block;
    vertical-align:text-top;
    background: url("/static/img/ic-sp.png") no-repeat top left;
}

.sprite-glyphicons_000_glass{ background-position: 0 0; width: 18px; height: 18px; } 
.sprite-glyphicons_001_leaf{ background-position: -68px 0; width: 18px; height: 19px; } 
.sprite-glyphicons_002_dog{ background-position: -136px 0; width: 20px; height: 19px; } 
.sprite-glyphicons_003_user{ background-position: -206px 0; width: 17px; height: 17px; } 
.sprite-glyphicons_004_girl{ background-position: -273px 0; width: 17px; height: 17px; } 
.sprite-glyphicons_005_car{ background-position: -340px 0; width: 20px; height: 17px; } 
.sprite-glyphicons_006_user_add{ background-position: -410px 0; width: 21px; height: 17px; } 
.sprite-glyphicons_007_user_remove{ background-position: -481px 0; width: 20px; height: 17px; } 
.sprite-glyphicons_008_film{ background-position: -551px 0; width: 17px; height: 20px; } 
.sprite-glyphicons_009_magic{ background-position: -618px 0; width: 18px; height: 18px; } 
.sprite-glyphicons_010_envelope{ background-position: -686px 0; width: 18px; height: 12px; } 
.sprite-glyphicons_011_camera{ background-position: -754px 0; width: 20px; height: 15px; } 
.sprite-glyphicons_012_heart{ background-position: -824px 0; width: 18px; height: 17px; } 
.sprite-glyphicons_013_beach_umbrella{ background-position: -892px 0; width: 19px; height: 19px; } 
.sprite-glyphicons_014_train{ background-position: -961px 0; width: 15px; height: 20px; } 
.sprite-glyphicons_015_print{ background-position: -1026px 0; width: 18px; height: 18px; } 
.sprite-glyphicons_016_bin{ background-position: -1094px 0; width: 15px; height: 21px; } 
.sprite-glyphicons_017_music{ background-position: -1159px 0; width: 16px; height: 19px; } 
.sprite-glyphicons_018_note{ background-position: -1225px 0; width: 14px; height: 19px; } 
.sprite-glyphicons_019_cogwheel{ background-position: -1289px 0; width: 18px; height: 18px; } 
.sprite-glyphicons_020_home{ background-position: -1357px 0; width: 20px; height: 20px; } 
.sprite-glyphicons_021_snowflake{ background-position: -1427px 0; width: 21px; height: 21px; } 
.sprite-glyphicons_022_fire{ background-position: -1498px 0; width: 15px; height: 20px; } 
.sprite-glyphicons_023_cogwheels{ background-position: -1563px 0; width: 20px; height: 20px; } 
.sprite-glyphicons_024_parents{ background-position: -1633px 0; width: 24px; height: 17px; } 
.sprite-glyphicons_025_binoculars{ background-position: -1707px 0; width: 18px; height: 18px; } 
.sprite-glyphicons_026_road{ background-position: -1775px 0; width: 21px; height: 18px; } 
.sprite-glyphicons_027_search{ background-position: -1846px 0; width: 18px; height: 18px; } 
.sprite-glyphicons_028_cars{ background-position: -1914px 0; width: 27px; height: 19px; } 
.sprite-glyphicons_029_notes_2{ background-position: 0 -71px; width: 15px; height: 20px; } 
.sprite-glyphicons_030_pencil{ background-position: -65px -71px; width: 19px; height: 19px; } 
.sprite-glyphicons_031_bus{ background-position: -134px -71px; width: 24px; height: 19px; } 
.sprite-glyphicons_032_wifi_alt{ background-position: -208px -71px; width: 20px; height: 20px; } 
.sprite-glyphicons_033_luggage{ background-position: -278px -71px; width: 15px; height: 20px; } 
.sprite-glyphicons_034_old_man{ background-position: -343px -71px; width: 17px; height: 18px; } 
.sprite-glyphicons_035_woman{ background-position: -410px -71px; width: 17px; height: 17px; } 
.sprite-glyphicons_036_file{ background-position: -477px -71px; width: 14px; height: 18px; } 
.sprite-glyphicons_037_credit{ background-position: -541px -71px; width: 20px; height: 18px; } 
.sprite-glyphicons_038_airplane{ background-position: -611px -71px; width: 18px; height: 19px; } 
.sprite-glyphicons_039_notes{ background-position: -679px -71px; width: 15px; height: 19px; } 
.sprite-glyphicons_040_stats{ background-position: -744px -71px; width: 20px; height: 19px; } 
.sprite-glyphicons_041_charts{ background-position: -814px -71px; width: 20px; height: 18px; } 
.sprite-glyphicons_042_pie_chart{ background-position: -884px -71px; width: 20px; height: 19px; } 
.sprite-glyphicons_043_group{ background-position: -954px -71px; width: 26px; height: 17px; } 
.sprite-glyphicons_044_keys{ background-position: -1030px -71px; width: 18px; height: 20px; } 
.sprite-glyphicons_045_calendar{ background-position: -1098px -71px; width: 17px; height: 19px; } 
.sprite-glyphicons_046_router{ background-position: -1165px -71px; width: 20px; height: 20px; } 
.sprite-glyphicons_047_camera_small{ background-position: -1235px -71px; width: 17px; height: 18px; } 
.sprite-glyphicons_048_dislikes{ background-position: -1302px -71px; width: 20px; height: 18px; } 
.sprite-glyphicons_049_star{ background-position: -1372px -71px; width: 19px; height: 18px; } 
.sprite-glyphicons_050_link{ background-position: -1441px -71px; width: 16px; height: 17px; } 
.sprite-glyphicons_051_eye_open{ background-position: -1507px -71px; width: 23px; height: 13px; } 
.sprite-glyphicons_052_eye_close{ background-position: -1580px -71px; width: 23px; height: 18px; } 
.sprite-glyphicons_053_alarm{ background-position: -1653px -71px; width: 21px; height: 20px; } 
.sprite-glyphicons_054_clock{ background-position: -1724px -71px; width: 18px; height: 18px; } 
.sprite-glyphicons_055_stopwatch{ background-position: -1792px -71px; width: 17px; height: 20px; } 
.sprite-glyphicons_056_projector{ background-position: -1859px -71px; width: 21px; height: 19px; } 
.sprite-glyphicons_057_history{ background-position: -1930px -71px; width: 19px; height: 20px; } 
.sprite-glyphicons_058_truck{ background-position: 0 -142px; width: 24px; height: 20px; } 
.sprite-glyphicons_059_cargo{ background-position: -74px -142px; width: 19px; height: 20px; } 
.sprite-glyphicons_060_compass{ background-position: -143px -142px; width: 18px; height: 18px; } 
.sprite-glyphicons_061_keynote{ background-position: -211px -142px; width: 15px; height: 23px; } 
.sprite-glyphicons_062_attach{ background-position: -276px -142px; width: 20px; height: 18px; } 
.sprite-glyphicons_063_power{ background-position: -346px -142px; width: 17px; height: 18px; } 
.sprite-glyphicons_064_lightbulb{ background-position: -413px -142px; width: 15px; height: 20px; } 
.sprite-glyphicons_065_tag{ background-position: -478px -142px; width: 18px; height: 18px; } 
.sprite-glyphicons_066_tags{ background-position: -546px -142px; width: 23px; height: 18px; } 
.sprite-glyphicons_067_cleaning{ background-position: -619px -142px; width: 18px; height: 19px; } 
.sprite-glyphicons_068_ruller{ background-position: -687px -142px; width: 20px; height: 11px; } 
.sprite-glyphicons_069_gift{ background-position: -757px -142px; width: 18px; height: 19px; } 
.sprite-glyphicons_070_umbrella{ background-position: -825px -142px; width: 20px; height: 21px; } 
.sprite-glyphicons_071_book{ background-position: -895px -142px; width: 17px; height: 18px; } 
.sprite-glyphicons_072_bookmark{ background-position: -962px -142px; width: 12px; height: 18px; } 
.sprite-glyphicons_073_signal{ background-position: -1024px -142px; width: 23px; height: 17px; } 
.sprite-glyphicons_074_cup{ background-position: -1097px -142px; width: 17px; height: 18px; } 
.sprite-glyphicons_075_stroller{ background-position: -1164px -142px; width: 19px; height: 20px; } 
.sprite-glyphicons_076_headphones{ background-position: -1233px -142px; width: 18px; height: 18px; } 
.sprite-glyphicons_077_headset{ background-position: -1301px -142px; width: 18px; height: 21px; } 
.sprite-glyphicons_078_warning_sign{ background-position: -1369px -142px; width: 22px; height: 18px; } 
.sprite-glyphicons_079_signal{ background-position: -1441px -142px; width: 18px; height: 18px; } 
.sprite-glyphicons_080_retweet{ background-position: -1509px -142px; width: 23px; height: 11px; } 
.sprite-glyphicons_081_refresh{ background-position: -1582px -142px; width: 19px; height: 20px; } 
.sprite-glyphicons_082_roundabout{ background-position: -1651px -142px; width: 20px; height: 20px; } 
.sprite-glyphicons_083_random{ background-position: -1721px -142px; width: 21px; height: 15px; } 
.sprite-glyphicons_084_heat{ background-position: -1792px -142px; width: 22px; height: 19px; } 
.sprite-glyphicons_085_repeat{ background-position: -1864px -142px; width: 18px; height: 20px; } 
.sprite-glyphicons_086_display{ background-position: -1932px -142px; width: 21px; height: 18px; } 
.sprite-glyphicons_087_log_book{ background-position: 0 -215px; width: 17px; height: 18px; } 
.sprite-glyphicons_088_adress_book{ background-position: -67px -215px; width: 17px; height: 18px; } 
.sprite-glyphicons_089_magnet{ background-position: -134px -215px; width: 16px; height: 17px; } 
.sprite-glyphicons_090_table{ background-position: -200px -215px; width: 18px; height: 18px; } 
.sprite-glyphicons_091_adjust{ background-position: -268px -215px; width: 20px; height: 20px; } 
.sprite-glyphicons_092_tint{ background-position: -338px -215px; width: 17px; height: 20px; } 
.sprite-glyphicons_093_crop{ background-position: -405px -215px; width: 20px; height: 20px; } 
.sprite-glyphicons_094_vector_path_square{ background-position: -475px -215px; width: 18px; height: 18px; } 
.sprite-glyphicons_095_vector_path_circle{ background-position: -543px -215px; width: 18px; height: 18px; } 
.sprite-glyphicons_096_vector_path_polygon{ background-position: -611px -215px; width: 20px; height: 19px; } 
.sprite-glyphicons_097_vector_path_line{ background-position: -681px -215px; width: 18px; height: 18px; } 
.sprite-glyphicons_098_vector_path_curve{ background-position: -749px -215px; width: 18px; height: 18px; } 
.sprite-glyphicons_099_vector_path_all{ background-position: -817px -215px; width: 18px; height: 18px; } 
.sprite-glyphicons_100_font{ background-position: -885px -215px; width: 20px; height: 17px; } 
.sprite-glyphicons_101_italic{ background-position: -955px -215px; width: 11px; height: 18px; } 
.sprite-glyphicons_102_bold{ background-position: -1016px -215px; width: 14px; height: 18px; } 
.sprite-glyphicons_103_text_underline{ background-position: -1080px -215px; width: 15px; height: 18px; } 
.sprite-glyphicons_104_text_strike{ background-position: -1145px -215px; width: 15px; height: 17px; } 
.sprite-glyphicons_105_text_height{ background-position: -1210px -215px; width: 20px; height: 18px; } 
.sprite-glyphicons_106_text_width{ background-position: -1280px -215px; width: 17px; height: 18px; } 
.sprite-glyphicons_107_text_resize{ background-position: -1347px -215px; width: 20px; height: 20px; } 
.sprite-glyphicons_108_left_indent{ background-position: -1417px -215px; width: 18px; height: 17px; } 
.sprite-glyphicons_109_right_indent{ background-position: -1485px -215px; width: 18px; height: 17px; } 
.sprite-glyphicons_110_align_left{ background-position: -1553px -215px; width: 18px; height: 16px; } 
.sprite-glyphicons_111_align_center{ background-position: -1621px -215px; width: 18px; height: 16px; } 
.sprite-glyphicons_112_align_right{ background-position: -1689px -215px; width: 18px; height: 16px; } 
.sprite-glyphicons_113_justify{ background-position: -1757px -215px; width: 18px; height: 16px; } 
.sprite-glyphicons_114_list{ background-position: -1825px -215px; width: 18px; height: 16px; } 
.sprite-glyphicons_115_text_smaller{ background-position: -1893px -215px; width: 17px; height: 12px; } 
.sprite-glyphicons_116_text_bigger{ background-position: 0 -288px; width: 18px; height: 17px; } 
.sprite-glyphicons_117_embed{ background-position: -68px -288px; width: 23px; height: 11px; } 
.sprite-glyphicons_118_embed_close{ background-position: -141px -288px; width: 23px; height: 18px; } 
.sprite-glyphicons_119_adjust{ background-position: -214px -288px; width: 17px; height: 18px; } 
.sprite-glyphicons_120_message_full{ background-position: -281px -288px; width: 18px; height: 21px; } 
.sprite-glyphicons_121_message_empty{ background-position: -349px -288px; width: 18px; height: 21px; } 
.sprite-glyphicons_122_message_in{ background-position: -417px -288px; width: 18px; height: 21px; } 
.sprite-glyphicons_123_message_out{ background-position: -485px -288px; width: 18px; height: 21px; } 
.sprite-glyphicons_124_message_plus{ background-position: -553px -288px; width: 22px; height: 17px; } 
.sprite-glyphicons_125_message_minus{ background-position: -625px -288px; width: 22px; height: 17px; } 
.sprite-glyphicons_126_message_ban{ background-position: -697px -288px; width: 22px; height: 17px; } 
.sprite-glyphicons_127_message_flag{ background-position: -769px -288px; width: 20px; height: 17px; } 
.sprite-glyphicons_128_message_lock{ background-position: -839px -288px; width: 21px; height: 18px; } 
.sprite-glyphicons_129_message_new{ background-position: -910px -288px; width: 21px; height: 17px; } 
.sprite-glyphicons_130_inbox{ background-position: -981px -288px; width: 18px; height: 17px; } 
.sprite-glyphicons_131_inbox_plus{ background-position: -1049px -288px; width: 20px; height: 20px; } 
.sprite-glyphicons_132_inbox_minus{ background-position: -1119px -288px; width: 20px; height: 20px; } 
.sprite-glyphicons_133_inbox_lock{ background-position: -1189px -288px; width: 20px; height: 21px; } 
.sprite-glyphicons_134_inbox_in{ background-position: -1259px -288px; width: 18px; height: 20px; } 
.sprite-glyphicons_135_inbox_out{ background-position: -1327px -288px; width: 18px; height: 20px; } 
.sprite-glyphicons_136_computer_locked{ background-position: -1395px -288px; width: 21px; height: 18px; } 
.sprite-glyphicons_137_computer_service{ background-position: -1466px -288px; width: 21px; height: 18px; } 
.sprite-glyphicons_138_computer_proces{ background-position: -1537px -288px; width: 21px; height: 18px; } 
.sprite-glyphicons_139_phone{ background-position: -1608px -288px; width: 11px; height: 19px; } 
.sprite-glyphicons_140_database_lock{ background-position: -1669px -288px; width: 20px; height: 21px; } 
.sprite-glyphicons_141_database_plus{ background-position: -1739px -288px; width: 20px; height: 20px; } 
.sprite-glyphicons_142_database_minus{ background-position: -1809px -288px; width: 20px; height: 20px; } 
.sprite-glyphicons_143_database_ban{ background-position: -1879px -288px; width: 20px; height: 20px; } 
.sprite-glyphicons_144_folder_open{ background-position: -1949px -288px; width: 23px; height: 17px; } 
.sprite-glyphicons_145_folder_plus{ background-position: 0 -361px; width: 22px; height: 19px; } 
.sprite-glyphicons_146_folder_minus{ background-position: -72px -361px; width: 22px; height: 19px; } 
.sprite-glyphicons_147_folder_lock{ background-position: -144px -361px; width: 21px; height: 20px; } 
.sprite-glyphicons_148_folder_flag{ background-position: -215px -361px; width: 20px; height: 19px; } 
.sprite-glyphicons_149_folder_new{ background-position: -285px -361px; width: 21px; height: 18px; } 
.sprite-glyphicons_150_check{ background-position: -356px -361px; width: 17px; height: 14px; } 
.sprite-glyphicons_151_edit{ background-position: -423px -361px; width: 18px; height: 16px; } 
.sprite-glyphicons_152_new_window{ background-position: -491px -361px; width: 20px; height: 17px; } 
.sprite-glyphicons_153_more_windows{ background-position: -561px -361px; width: 17px; height: 17px; } 
.sprite-glyphicons_154_show_big_thumbnails{ background-position: -628px -361px; width: 17px; height: 17px; } 
.sprite-glyphicons_155_show_thumbnails{ background-position: -695px -361px; width: 17px; height: 17px; } 
.sprite-glyphicons_156_show_thumbnails_with_lines{ background-position: -762px -361px; width: 18px; height: 11px; } 
.sprite-glyphicons_157_show_lines{ background-position: -830px -361px; width: 18px; height: 11px; } 
.sprite-glyphicons_158_playlist{ background-position: -898px -361px; width: 22px; height: 18px; } 
.sprite-glyphicons_159_picture{ background-position: -970px -361px; width: 18px; height: 15px; } 
.sprite-glyphicons_160_imac{ background-position: -1038px -361px; width: 20px; height: 17px; } 
.sprite-glyphicons_161_macbook{ background-position: -1108px -361px; width: 21px; height: 11px; } 
.sprite-glyphicons_162_ipad{ background-position: -1179px -361px; width: 15px; height: 20px; } 
.sprite-glyphicons_163_iphone{ background-position: -1244px -361px; width: 11px; height: 18px; } 
.sprite-glyphicons_164_iphone_transfer{ background-position: -1305px -361px; width: 22px; height: 18px; } 
.sprite-glyphicons_165_iphone_exchange{ background-position: -1377px -361px; width: 22px; height: 18px; } 
.sprite-glyphicons_166_ipod{ background-position: -1449px -361px; width: 11px; height: 17px; } 
.sprite-glyphicons_167_ipod_shuffle{ background-position: -1510px -361px; width: 11px; height: 10px; } 
.sprite-glyphicons_168_ear_plugs{ background-position: -1571px -361px; width: 15px; height: 18px; } 
.sprite-glyphicons_169_albums{ background-position: -1636px -361px; width: 21px; height: 14px; } 
.sprite-glyphicons_170_step_backward{ background-position: -1707px -361px; width: 11px; height: 14px; } 
.sprite-glyphicons_171_fast_backward{ background-position: -1768px -361px; width: 19px; height: 14px; } 
.sprite-glyphicons_172_rewind{ background-position: -1837px -361px; width: 17px; height: 14px; } 
.sprite-glyphicons_173_play{ background-position: -1904px -361px; width: 12px; height: 14px; } 
.sprite-glyphicons_174_pause{ background-position: 0 -434px; width: 8px; height: 12px; } 
.sprite-glyphicons_175_stop{ background-position: -58px -434px; width: 11px; height: 11px; } 
.sprite-glyphicons_176_forward{ background-position: -119px -434px; width: 17px; height: 14px; } 
.sprite-glyphicons_177_fast_forward{ background-position: -186px -434px; width: 19px; height: 14px; } 
.sprite-glyphicons_178_step_forward{ background-position: -255px -434px; width: 11px; height: 14px; } 
.sprite-glyphicons_179_eject{ background-position: -316px -434px; width: 14px; height: 13px; } 
.sprite-glyphicons_180_facetime_video{ background-position: -380px -434px; width: 18px; height: 12px; } 
.sprite-glyphicons_181_download_alt{ background-position: -448px -434px; width: 18px; height: 18px; } 
.sprite-glyphicons_182_mute{ background-position: -516px -434px; width: 17px; height: 12px; } 
.sprite-glyphicons_183_volume_down{ background-position: -583px -434px; width: 12px; height: 12px; } 
.sprite-glyphicons_184_volume_up{ background-position: -645px -434px; width: 18px; height: 20px; } 
.sprite-glyphicons_185_screenshot{ background-position: -713px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_186_move{ background-position: -783px -434px; width: 18px; height: 18px; } 
.sprite-glyphicons_187_more{ background-position: -851px -434px; width: 17px; height: 5px; } 
.sprite-glyphicons_188_brightness_reduce{ background-position: -918px -434px; width: 15px; height: 15px; } 
.sprite-glyphicons_189_brightness_increase{ background-position: -983px -434px; width: 18px; height: 18px; } 
.sprite-glyphicons_190_circle_plus{ background-position: -1051px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_191_circle_minus{ background-position: -1121px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_192_circle_remove{ background-position: -1191px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_193_circle_ok{ background-position: -1261px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_194_circle_question_mark{ background-position: -1331px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_195_circle_info{ background-position: -1401px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_196_circle_exclamation_mark{ background-position: -1471px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_197_remove{ background-position: -1541px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_198_ok{ background-position: -1611px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_199_ban{ background-position: -1681px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_200_download{ background-position: -1751px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_201_upload{ background-position: -1821px -434px; width: 20px; height: 20px; } 
.sprite-glyphicons_202_shopping_cart{ background-position: -1891px -434px; width: 20px; height: 17px; } 
.sprite-glyphicons_203_lock{ background-position: 0 -507px; width: 16px; height: 20px; } 
.sprite-glyphicons_204_unlock{ background-position: -66px -507px; width: 16px; height: 20px; } 
.sprite-glyphicons_205_electricity{ background-position: -132px -507px; width: 8px; height: 18px; } 
.sprite-glyphicons_206_ok_2{ background-position: -190px -507px; width: 19px; height: 14px; } 
.sprite-glyphicons_207_remove_2{ background-position: -259px -507px; width: 14px; height: 14px; } 
.sprite-glyphicons_208_cart_out{ background-position: -323px -507px; width: 20px; height: 19px; } 
.sprite-glyphicons_209_cart_in{ background-position: -393px -507px; width: 20px; height: 18px; } 
.sprite-glyphicons_210_left_arrow{ background-position: -463px -507px; width: 15px; height: 14px; } 
.sprite-glyphicons_211_right_arrow{ background-position: -528px -507px; width: 15px; height: 14px; } 
.sprite-glyphicons_212_down_arrow{ background-position: -593px -507px; width: 14px; height: 15px; } 
.sprite-glyphicons_213_up_arrow{ background-position: -657px -507px; width: 14px; height: 15px; } 
.sprite-glyphicons_214_resize_small{ background-position: -721px -507px; width: 18px; height: 18px; } 
.sprite-glyphicons_215_resize_full{ background-position: -789px -507px; width: 18px; height: 18px; } 
.sprite-glyphicons_216_circle_arrow_left{ background-position: -857px -507px; width: 20px; height: 20px; } 
.sprite-glyphicons_217_circle_arrow_right{ background-position: -927px -507px; width: 20px; height: 20px; } 
.sprite-glyphicons_218_circle_arrow_top{ background-position: -997px -507px; width: 20px; height: 20px; } 
.sprite-glyphicons_219_circle_arrow_down{ background-position: -1067px -507px; width: 20px; height: 20px; } 
.sprite-glyphicons_220_play_button{ background-position: -1137px -507px; width: 20px; height: 20px; } 
.sprite-glyphicons_221_unshare{ background-position: -1207px -507px; width: 18px; height: 14px; } 
.sprite-glyphicons_222_share{ background-position: -1275px -507px; width: 18px; height: 14px; } 
.sprite-glyphicons_223_thin_right_arrow{ background-position: -1343px -507px; width: 11px; height: 17px; } 
.sprite-glyphicons_224_thin_arrow_left{ background-position: -1404px -507px; width: 11px; height: 17px; } 
.sprite-glyphicons_225_bluetooth{ background-position: -1465px -507px; width: 11px; height: 18px; } 
.sprite-glyphicons_226_euro{ background-position: -1526px -507px; width: 17px; height: 17px; } 
.sprite-glyphicons_227_usd{ background-position: -1593px -507px; width: 13px; height: 20px; } 
.sprite-glyphicons_228_bp{ background-position: -1656px -507px; width: 13px; height: 18px; } 
.sprite-glyphicons_229_retweet_2{ background-position: -1719px -507px; width: 25px; height: 16px; } 
.sprite-glyphicons_230_moon{ background-position: -1794px -507px; width: 17px; height: 19px; } 
.sprite-glyphicons_231_sun{ background-position: -1861px -507px; width: 18px; height: 18px; } 
.sprite-glyphicons_232_cloud{ background-position: -1929px -507px; width: 20px; height: 13px; } 
.sprite-glyphicons_233_direction{ background-position: 0 -580px; width: 20px; height: 20px; } 
.sprite-glyphicons_234_brush{ background-position: -70px -580px; width: 19px; height: 17px; } 
.sprite-glyphicons_235_pen{ background-position: -139px -580px; width: 18px; height: 18px; } 
.sprite-glyphicons_236_zoom_in{ background-position: -207px -580px; width: 19px; height: 19px; } 
.sprite-glyphicons_237_zoom_out{ background-position: -276px -580px; width: 19px; height: 19px; } 
.sprite-glyphicons_238_pin{ background-position: -345px -580px; width: 8px; height: 19px; } 
.sprite-glyphicons_239_riflescope{ background-position: -403px -580px; width: 19px; height: 19px; } 
.sprite-glyphicons_240_rotation_lock{ background-position: -472px -580px; width: 20px; height: 18px; } 
.sprite-glyphicons_241_flash{ background-position: -542px -580px; width: 11px; height: 19px; } 
.sprite-glyphicons_242_google_maps{ background-position: -603px -580px; width: 11px; height: 18px; } 
.sprite-glyphicons_243_anchor{ background-position: -664px -580px; width: 18px; height: 19px; } 
.sprite-glyphicons_244_conversation{ background-position: -732px -580px; width: 19px; height: 14px; } 
.sprite-glyphicons_245_chat{ background-position: -801px -580px; width: 18px; height: 14px; } 
.sprite-glyphicons_246_male{ background-position: -869px -580px; width: 17px; height: 17px; } 
.sprite-glyphicons_247_female{ background-position: -936px -580px; width: 12px; height: 20px; } 
.sprite-glyphicons_248_asterisk{ background-position: -998px -580px; width: 15px; height: 15px; } 
.sprite-glyphicons_249_divide{ background-position: -1063px -580px; width: 14px; height: 12px; } 
.sprite-glyphicons_250_snorkel_diving{ background-position: -1127px -580px; width: 20px; height: 19px; } 
.sprite-glyphicons_251_scuba_diving{ background-position: -1197px -580px; width: 20px; height: 18px; } 
.sprite-glyphicons_252_oxygen_bottle{ background-position: -1267px -580px; width: 17px; height: 20px; } 
.sprite-glyphicons_253_fins{ background-position: -1334px -580px; width: 23px; height: 20px; } 
.sprite-glyphicons_254_fishes{ background-position: -1407px -580px; width: 21px; height: 23px; } 
.sprite-glyphicons_255_boat{ background-position: -1478px -580px; width: 18px; height: 18px; } 
.sprite-glyphicons_256_delete_point{ background-position: -1546px -580px; width: 20px; height: 13px; } 
.sprite-glyphicons_257_sheriffs_-star{ background-position: -1616px -580px; width: 18px; height: 20px; } 
.sprite-glyphicons_258_qrcode{ background-position: -1684px -580px; width: 18px; height: 18px; } 
.sprite-glyphicons_259_barcode{ background-position: -1752px -580px; width: 18px; height: 18px; } 
.sprite-glyphicons_260_pool{ background-position: -1820px -580px; width: 18px; height: 18px; } 
.sprite-glyphicons_261_buoy{ background-position: -1888px -580px; width: 18px; height: 18px; } 
.sprite-glyphicons_262_spade{ background-position: 0 -653px; width: 18px; height: 18px; } 
.sprite-glyphicons_263_bank{ background-position: -68px -653px; width: 18px; height: 18px; } 
.sprite-glyphicons_264_vcard{ background-position: -136px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_265_electrical_plug{ background-position: -203px -653px; width: 14px; height: 19px; } 
.sprite-glyphicons_266_flag{ background-position: -267px -653px; width: 16px; height: 20px; } 
.sprite-glyphicons_267_credit_card{ background-position: -333px -653px; width: 20px; height: 14px; } 
.sprite-glyphicons_268_keyboard_wireless{ background-position: -403px -653px; width: 20px; height: 14px; } 
.sprite-glyphicons_269_keyboard_wired{ background-position: -473px -653px; width: 20px; height: 19px; } 
.sprite-glyphicons_270_shield{ background-position: -543px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_271_ring{ background-position: -610px -653px; width: 16px; height: 18px; } 
.sprite-glyphicons_272_cake{ background-position: -676px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_273_drink{ background-position: -743px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_274_beer{ background-position: -810px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_275_fast_food{ background-position: -877px -653px; width: 21px; height: 18px; } 
.sprite-glyphicons_276_cutlery{ background-position: -948px -653px; width: 10px; height: 18px; } 
.sprite-glyphicons_277_pizza{ background-position: -1008px -653px; width: 20px; height: 22px; } 
.sprite-glyphicons_278_birthday_cake{ background-position: -1078px -653px; width: 20px; height: 22px; } 
.sprite-glyphicons_279_tablet{ background-position: -1148px -653px; width: 19px; height: 19px; } 
.sprite-glyphicons_280_settings{ background-position: -1217px -653px; width: 18px; height: 18px; } 
.sprite-glyphicons_281_bullets{ background-position: -1285px -653px; width: 20px; height: 17px; } 
.sprite-glyphicons_282_cardio{ background-position: -1355px -653px; width: 19px; height: 20px; } 
.sprite-glyphicons_283_t-shirt{ background-position: -1424px -653px; width: 21px; height: 17px; } 
.sprite-glyphicons_284_pants{ background-position: -1495px -653px; width: 14px; height: 18px; } 
.sprite-glyphicons_285_sweater{ background-position: -1559px -653px; width: 22px; height: 18px; } 
.sprite-glyphicons_286_fabric{ background-position: -1631px -653px; width: 20px; height: 17px; } 
.sprite-glyphicons_287_leather{ background-position: -1701px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_288_scissors{ background-position: -1768px -653px; width: 18px; height: 20px; } 
.sprite-glyphicons_289_podium{ background-position: -1836px -653px; width: 21px; height: 16px; } 
.sprite-glyphicons_290_skull{ background-position: -1907px -653px; width: 17px; height: 18px; } 
.sprite-glyphicons_291_celebration{ background-position: 0 -726px; width: 18px; height: 19px; } 
.sprite-glyphicons_292_tea_kettle{ background-position: -68px -726px; width: 20px; height: 17px; } 
.sprite-glyphicons_293_french_press{ background-position: -138px -726px; width: 17px; height: 19px; } 
.sprite-glyphicons_294_coffe_cup{ background-position: -205px -726px; width: 19px; height: 14px; } 
.sprite-glyphicons_295_pot{ background-position: -274px -726px; width: 20px; height: 17px; } 
.sprite-glyphicons_296_grater{ background-position: -344px -726px; width: 14px; height: 18px; } 
.sprite-glyphicons_297_kettle{ background-position: -408px -726px; width: 17px; height: 18px; } 
.sprite-glyphicons_298_hospital{ background-position: -475px -726px; width: 18px; height: 18px; } 
.sprite-glyphicons_299_hospital_h{ background-position: -543px -726px; width: 18px; height: 18px; } 
.sprite-glyphicons_300_microphone{ background-position: -611px -726px; width: 13px; height: 18px; } 
.sprite-glyphicons_301_webcam{ background-position: -674px -726px; width: 14px; height: 18px; } 
.sprite-glyphicons_302_temple_christianity_church{ background-position: -738px -726px; width: 18px; height: 19px; } 
.sprite-glyphicons_303_temple_islam{ background-position: -806px -726px; width: 19px; height: 18px; } 
.sprite-glyphicons_304_temple_hindu{ background-position: -875px -726px; width: 18px; height: 18px; } 
.sprite-glyphicons_305_temple_buddhist{ background-position: -943px -726px; width: 21px; height: 17px; } 
.sprite-glyphicons_306_electrical_socket_eu{ background-position: -1014px -726px; width: 17px; height: 17px; } 
.sprite-glyphicons_307_electrical_socket_us{ background-position: -1081px -726px; width: 17px; height: 17px; } 
.sprite-glyphicons_308_bomb{ background-position: -1148px -726px; width: 20px; height: 20px; } 
.sprite-glyphicons_309_comments{ background-position: -1218px -726px; width: 18px; height: 17px; } 
.sprite-glyphicons_310_flower{ background-position: -1286px -726px; width: 14px; height: 19px; } 
.sprite-glyphicons_311_baseball{ background-position: -1350px -726px; width: 19px; height: 20px; } 
.sprite-glyphicons_312_rugby{ background-position: -1419px -726px; width: 17px; height: 18px; } 
.sprite-glyphicons_313_ax{ background-position: -1486px -726px; width: 20px; height: 19px; } 
.sprite-glyphicons_314_table_tennis{ background-position: -1556px -726px; width: 18px; height: 18px; } 
.sprite-glyphicons_315_bowling{ background-position: -1624px -726px; width: 18px; height: 18px; } 
.sprite-glyphicons_316_tree_conifer{ background-position: -1692px -726px; width: 16px; height: 18px; } 
.sprite-glyphicons_317_tree_deciduous{ background-position: -1758px -726px; width: 15px; height: 19px; } 
.sprite-glyphicons_318_more-items{ background-position: -1823px -726px; width: 16px; height: 18px; } 
.sprite-glyphicons_319_sort{ background-position: -1889px -726px; width: 19px; height: 19px; } 
.sprite-glyphicons_320_filter{ background-position: 0 -799px; width: 15px; height: 18px; } 
.sprite-glyphicons_321_gamepad{ background-position: -65px -799px; width: 20px; height: 14px; } 
.sprite-glyphicons_322_playing_dices{ background-position: -135px -799px; width: 20px; height: 17px; } 
.sprite-glyphicons_323_calculator{ background-position: -205px -799px; width: 16px; height: 18px; } 
.sprite-glyphicons_324_tie{ background-position: -271px -799px; width: 8px; height: 20px; } 
.sprite-glyphicons_325_wallet{ background-position: -329px -799px; width: 19px; height: 15px; } 
.sprite-glyphicons_326_share{ background-position: -398px -799px; width: 17px; height: 17px; } 
.sprite-glyphicons_327_sampler{ background-position: -465px -799px; width: 20px; height: 17px; } 
.sprite-glyphicons_328_piano{ background-position: -535px -799px; width: 17px; height: 18px; } 
.sprite-glyphicons_329_web_browser{ background-position: -602px -799px; width: 18px; height: 17px; } 
.sprite-glyphicons_330_blog{ background-position: -670px -799px; width: 16px; height: 17px; } 
.sprite-glyphicons_331_dashboard{ background-position: -736px -799px; width: 18px; height: 18px; } 
.sprite-glyphicons_332_certificate{ background-position: -804px -799px; width: 13px; height: 19px; } 
.sprite-glyphicons_333_bell{ background-position: -867px -799px; width: 18px; height: 18px; } 
.sprite-glyphicons_334_candle{ background-position: -935px -799px; width: 15px; height: 19px; } 
.sprite-glyphicons_335_pin_classic{ background-position: -1000px -799px; width: 18px; height: 18px; } 
.sprite-glyphicons_336_iphone_shake{ background-position: -1068px -799px; width: 18px; height: 18px; } 
.sprite-glyphicons_337_pin_flag{ background-position: -1136px -799px; width: 23px; height: 17px; } 
.sprite-glyphicons_338_turtle{ background-position: -1209px -799px; width: 21px; height: 12px; } 
.sprite-glyphicons_339_rabbit{ background-position: -1280px -799px; width: 20px; height: 17px; } 
.sprite-glyphicons_340_globe{ background-position: -1350px -799px; width: 18px; height: 18px; } 
.sprite-glyphicons_341_briefcase{ background-position: -1418px -799px; width: 18px; height: 16px; } 
.sprite-glyphicons_342_hdd{ background-position: -1486px -799px; width: 18px; height: 16px; } 
.sprite-glyphicons_343_thumbs_up{ background-position: -1554px -799px; width: 18px; height: 16px; } 
.sprite-glyphicons_344_thumbs_down{ background-position: -1622px -799px; width: 18px; height: 16px; } 
.sprite-glyphicons_345_hand_right{ background-position: -1690px -799px; width: 20px; height: 14px; } 
.sprite-glyphicons_346_hand_left{ background-position: -1760px -799px; width: 20px; height: 14px; } 
.sprite-glyphicons_347_hand_up{ background-position: -1830px -799px; width: 14px; height: 20px; } 
.sprite-glyphicons_348_hand_down{ background-position: -1894px -799px; width: 14px; height: 20px; } 
.sprite-glyphicons_349_fullscreen{ background-position: 0 -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_350_shopping_bag{ background-position: -68px -872px; width: 17px; height: 20px; } 
.sprite-glyphicons_351_book_open{ background-position: -135px -872px; width: 19px; height: 17px; } 
.sprite-glyphicons_352_nameplate{ background-position: -204px -872px; width: 18px; height: 16px; } 
.sprite-glyphicons_353_nameplate_alt{ background-position: -272px -872px; width: 18px; height: 17px; } 
.sprite-glyphicons_354_vases{ background-position: -340px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_355_announcement{ background-position: -408px -872px; width: 19px; height: 15px; } 
.sprite-glyphicons_356_dumbbell{ background-position: -477px -872px; width: 20px; height: 12px; } 
.sprite-glyphicons_357_suitcase{ background-position: -547px -872px; width: 18px; height: 17px; } 
.sprite-glyphicons_358_file_import{ background-position: -615px -872px; width: 17px; height: 18px; } 
.sprite-glyphicons_359_file_export{ background-position: -682px -872px; width: 17px; height: 18px; } 
.sprite-glyphicons_360_pinterest{ background-position: -749px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_361_dropbox{ background-position: -817px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_362_google_alt{ background-position: -885px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_363_jolicloud{ background-position: -953px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_364_yahoo{ background-position: -1021px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_365_blogger{ background-position: -1089px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_366_picasa{ background-position: -1157px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_367_amazon{ background-position: -1225px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_368_tumblr{ background-position: -1293px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_369_wordpress{ background-position: -1361px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_370_instapaper{ background-position: -1429px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_371_evernote{ background-position: -1497px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_372_xing{ background-position: -1565px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_373_zootool{ background-position: -1633px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_374_dribbble{ background-position: -1701px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_375_deviantart{ background-position: -1769px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_376_read_it_later{ background-position: -1837px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_377_linked_in{ background-position: -1905px -872px; width: 18px; height: 18px; } 
.sprite-glyphicons_378_forrst{ background-position: 0 -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_379_pinboard{ background-position: -68px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_380_behance{ background-position: -136px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_381_github{ background-position: -204px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_382_youtube{ background-position: -272px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_383_skitch{ background-position: -340px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_384_4square{ background-position: -408px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_385_quora{ background-position: -476px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_386_google_plus{ background-position: -544px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_387_spootify{ background-position: -612px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_388_stumbleupon{ background-position: -680px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_389_readability{ background-position: -748px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_390_facebook{ background-position: -816px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_391_twitter_t{ background-position: -884px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_392_twitter{ background-position: -952px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_393_buzz{ background-position: -1020px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_394_vimeo{ background-position: -1088px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_395_flickr{ background-position: -1156px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_396_last_fm{ background-position: -1224px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_397_rss{ background-position: -1292px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_398_skype{ background-position: -1360px -945px; width: 18px; height: 18px; } 
.sprite-glyphicons_399_e-mail{ background-position: -1428px -945px; width: 18px; height: 18px; } 