<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript"
	src="/static/js/jquery.hoverIntent.minified.js"></script>
<link rel="stylesheet" href="/static/css/timesheet.css" type="text/css"
	media="screen">
<link href="/static/css/bootstrap.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Kairos | Timesheet</title>
<script type="text/javascript">
	function makeTall() {
		$(this).stop().animate({
			"height" : 75
		}, 15);
	}
	function makeShort() {
		$(this).stop().animate({
			"height" : 16
		}, 15);
	}
	
	$(document).ready(function() {		
// 		$('#menu li.drop').hoverIntent(makeTall, makeShort);
	    
	    $('.reset').click(function(e) {
	    	e.preventDefault();
	    	$('#time-table .hour-input').val('');
	    });
	    
	    $('.project-dropdown').change(function() {
	    	$.get('/activities/'+ $(this).val(), function(data) {
	    		  $('#activity-dropdown').html(data);
	    	});
	    });
	    
	});
</script>
</head>
<body>
	<div class="header">
		<div id="dashboard">
			<span class="welcome-user">Welcome
				{{request.user.first_name}}, {{request.user.last_name}}</span>
			<ul id="menu">
				<li>My Profile</li>
				<li class="drop">Reports</li>
				<li class="drop">Logout</li>
			</ul>
		</div>
	</div>

	<div class="row" style="margin: 25px 0 0 20%;">
		<div class="span12 timesheet-header">
			<div class="week-spanner" style="float: right; position: relative;">
				<!-- 		       <a href="#" class="grey-button week-backward"><i class="icon-chevron-left"></i></a> -->
				<span class="week-display"
					style="background-color: white; height: 18px">{{start_week|date:"d.NY"}} -
					{{end_week|date:"d.NY"}}</span>
				<!-- 		       <a href="#" class="grey-button week-forward"><i class="icon-chevron-right"></i></a> -->
			</div>
		</div>
		<div style="clear: both;" class="span12 time-logging">
			<div class="time-logging-header">
				<table id="time-table" cellspacing="0" summary="Time sheet">
					<thead>
						<tr id="header">
							<th scope="col" abbr="Project"><span style="display: block">Projects</span>
							<th scope="col" abbr="Project"><span style="display: block">Activity</span>
							<th scope="col" abbr="Monday"><span
								style="display: block; margin-left: 5px;">M</span><span
								style="display: block; font-weight: normal; font-size: 10px;">08.04</span></th>
							<th scope="col" abbr="Tuesday">Tue</th>
							<th scope="col" abbr="Wednesday">Wed</th>
							<th scope="col" abbr="Thursday">Thu</th>
							<th scope="col" abbr="Friday">Fri</th>
							<th scope="col" abbr="Saturday">Sat</th>
							<th scope="col" abbr="Sunday">Sun</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							    <div id="project-dropdown">
									<select name="select" class="project-dropdown" id="dropdown-select">
										<option class="dropdown-option">Choose Project</option>
										{% for project in projects.all %}
										      <option value="{{project.id}}" class="dropdown-option">{{project.name}}</option>  
										{% endfor %}
									</select>
								</div>
							</td>
							<td>
							     <div id="activity-dropdown">
                                    <select name="select" class="activity-dropdown" id="dropdown-select">
                                        <option class="dropdown-option">Choose Activity</option>                                        
                                    </select>
                                </div>
                            </td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
							<td><input class="hour-input" type="text" placeholder="0.00" /></td>
						</tr>										    
					</tbody>
				</table>
			</div>
		</div>
		<div class="span12 papier section">
		    <input type="submit" class="yellow-button"
                style="float: left; margin-left: 10px;padding-right:25px;padding-left:25px;" value="Add+" />
			<input type="submit" class="blue-button"
				style="float: right; margin-right: -5px;padding-right:20px;padding-left:20px;" value="Submit" /> 
			<input
				type="submit" class="grey-button"
				style="float: right; margin-right: 10px;padding-right:25px;padding-left:25px;" value="Save" /> 
			<a href="#" class="reset">Reset</a>
		</div>
	</div>

</body>
</html>