{% extends "includes/base.html" %}
{% block head_title %}Login{% endblock %}

{% block content %}  
    <div class="modal login">
        <form action="{% url django.contrib.auth.views.login %}" class="login" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="logo">Work +</div>
            <input type="email" id="{{form.username.auto_id}}" name="{{form.username.name}}" placeholder="user@email.com" />
            <input type="password" id="{{form.password.auto_id}}" name="{{form.password.name}}" placeholder="password" />
            <input type="submit" name="btnsubmit" value="Login"  />
            <input type="hidden" name="next" value="/home/" />
            <label><input type="checkbox" name="rememberme" value="Y" />Remember me</label>
            <a href="#">Forgot password?</a>
        </form>
    </div>
{% endblock %}