{% extends "includes/base.html" %}

{% block content %}
    {% block header %} 
        
	    <header>
	        <div class="wrapper">
	            <a href="/home/"><div class="logo"></div></a>
	            {% block navigation %}
	                   <ul class="navigation">
			                <li class="timesheets {% block timesheet_active %}{% endblock %}"><a href='/timesheet/{% now "Y/W" %}/'><span></span> Log Time</a></li>
			                <li class="time-off {% block timeoff_active %}{% endblock %}"><a href="/timeoff/book/"><span></span> Time Off</a></li>
			                <li class="approvals {% block approvals_active %}{% endblock %}"><a href="/q/"><span></span> Approvals</a></li>
			                <li class="reports {% block reports_active %}{% endblock %}"><a href="/reports/"><span></span> Reports</a></li>
                        </ul>
	            {% endblock %}
	            {% block profile%}
		            <ul class="profile">
		                <li><a href="#" class="profile"><span>User</span> {{request.user.username}}</a></li>
		                <li><a href="/logout/" class="logout"><span>Logout</span></a></li>
		            </ul>
		        {% endblock %}
	        </div>
	    </header>
    {% endblock %}
    {% block main %}{% endblock %}
{% endblock %}